@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/metropolis-2');

* {
    margin: 0;
    padding: 0;
    font-family: 'Metropolis', sans-serif;
    color: #000;
}

.header {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ebf2f2;
}

.header-img {
    height: 46px;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 1044px;
}

.menu-item {
    position: relative;
}

.menu-link {
    text-decoration: none;
    padding: 8px 12px;
    font-size: 16px;
    display: block;
    font-weight: 700;
}

.menu-link::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background-image: url('./images/down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-size: 16px;
    padding: 16px;
    background-color: #fff;
    white-space: nowrap;
}

.dropdown-item--spacing {
    margin-top: 20px;
}

.menu-icon {
    display: none;
    background-image: url('./images/menu.svg');
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.dropdown--active {
    display: block;
}

.dropdown-item {
    padding: 10px;
}

.link-secondary {
    color: #086dc3;
}

.dropdown-link {
    display: block;
    padding: 0;
    text-decoration: none;
}

.dropdown-link:hover {
    color: #8fdf82;
}

.theme-switcher {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 10px;
    margin-top: 10px;
}

.switch-input {
    display: none;
}

.switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.switch-icon {
    background-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-in-out;
    background-image: url('./images/sun.svg');
    background-size: 13px;
    background-position: 50%;
    background-repeat: no-repeat;
    filter: invert(1);
}

.switch-label--active {
    background-color: #333;
}

.switch-icon--active {
    transform: translateX(12px);
    background-image: url('./images/moon.svg');
    filter: invert(0);
}

.description {
    max-width: 1344px;
    margin: 48px auto;
}

.description-header {
    margin-top: 40px;
    font-size: 56px;
    font-weight: 700;
}

.description-text {
    width: 960px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.description-button {
    position: relative;
    margin-top: 16px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    background: none;
    border: #111 2px solid;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    overflow: hidden;
}

.description-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191e1e;
    z-index: -1;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-100%);
}

.description-button:hover::before {
    transform: translateX(0);
}

.description-button:hover {
    color: #fff;
}

.projects {
    background-color: #ebf2f2;
    padding: 48px 0;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 50%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search-input:focus {
    outline: none;
    border-color: #3d6637;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    gap: 24px;
    margin: 0 auto;
}

.item {
    width: 500px;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d9e9e9;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.2s ease-in-out;
}

.item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.item-img {
    width: 120px;
}

.item-header {
    font-size: 24px;
    font-weight: 700;
    text-wrap: wrap;
    width: 90%;
}

.item-description {
    font-family: 'Open Sans', sans-serif;
    width: 350px;
    font-size: 16px;
    padding: 12px 0;
    line-height: 27px;
    text-wrap: wrap;
}

.no-results {
    display: none;
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    font-weight: 500;
}

.hidden {
    display: none;
}

.footer {
    padding: 48px 24px 96px;
    width: 1344px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links {
    list-style: none;
}

.link-item {
    width: 175px;
}

.link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 4px 0;
    color: #616161;
    line-height: 32px;
}

.link--bold {
    color: #111111;
    font-weight: 700;
}

.link:hover {
    color: #8fdf82;
}

.newsletter {
    border: 2px solid #d9e9e9;
    width: 350px;
    height: 140px;
    padding: 24px;
}

.newsletter-header {
    font-size: 24px;
    font-weight: 700;
}

.newsletter-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 16px;
}

.newsletter-button {
    margin-top: 16px;
}

.social-media-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 48px;
}

.social-media {
    display: flex;
    gap: 16px;
}

.social-media-img {
    cursor: pointer;
}

.footer-text-primary,
.footer-text-secondary,
.footer-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.footer-text-secondary {
    color: #b5b5b5;
    margin-top: 13px;
    width: 100%;
}

.footer-text-primary {
    margin-top: 13px;
}

@media (max-width: 1400px) {
    .footer,
    .description {
        width: 1000px;
    }

    .menu {
        width: 800px;
    }

    .link-item {
        width: 120px;
    }
}

@media (max-width: 1200px) {
    .item {
        width: 372px;
        flex-direction: column;
    }

    .item-description {
        width: 100%;
        font-size: 14px;
    }

    .footer,
    .description,
    .description-text {
        width: 900px;
    }
}

@media (max-width: 1000px) {
    .footer,
    .menu,
    .description,
    .description-text {
        width: 660px;
    }

    .menu-link {
        padding: 8px 6px;
        font-size: 14px;
    }

    .item {
        width: 320px;
    }

    .item-img {
        width: 100px;
    }

    .header-img {
        height: 32px;
    }

    .container {
        width: fit-content;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 900px) {
    .menu {
        position: fixed;
        top: -100%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #191e1e;
        z-index: 99;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 60px 60px 0 40px;
        box-sizing: border-box;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #444 #191e1e;
    }

    .menu--open {
        top: 0;
    }

    .menu-item {
        width: 100%;
    }

    .dropdown--active {
        display: none;
    }

    .dropdown-mobile--active {
        display: block;
    }

    .menu-link {
        color: #d9e9e9;
        font-family: 'Open Sans', sans-serif;
        font-size: 32px;
        font-weight: 400;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 16px 12px;
    }

    .menu-link::after {
        width: 32px;
        height: 32px;
        background-image: url('./images/down-light.svg');
    }

    .menu-link--active {
        color: #4b9740;
    }

    .menu-link--active::after {
        background-image: url('./images/up-light.svg');
    }

    .menu-icon {
        display: inline;
        z-index: 100;
    }

    .menu-icon--open {
        display: fixed;
        background-image: url('./images/cross.svg');
    }

    .theme-switcher {
        display: none;
    }

    .dropdown {
        position: static;
        background-color: #191e1e;
    }

    .dropdown-link,
    .dropdown-item {
        color: #98afae;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }

    .dropdown-item {
        padding: 5px;
    }

    .header {
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media (max-width: 800px) {
    .item {
        width: 80%;
        margin: 0 auto;
        gap: 80px;
    }

    .items-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .description,
    .footer {
        width: 80%;
    }

    .description-text {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .link {
        font-size: 14px;
    }

    .link-item {
        width: 100px;
    }

    .item {
        gap: 30px;
    }

    .description-header {
        font-size: 48px;
    }

    .description-text,
    .newsletter-header {
        font-size: 20px;
    }

    .newsletter-text,
    .newsletter-button {
        margin-top: 8px;
    }

    .links-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .newsletter {
        width: 80%;
        height: 150px;
    }

    .social-media-container {
        flex-direction: column;
        height: fit-content;
    }
}
